.getLocation {
  background-color: #2091e4;
  color: white;
  font-family: system-ui;
  height: 35px;
  border: none;
  border-radius: 5px;
  width: 200px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.2s ease;
}

.getLocation:hover {
  background-color: #1377be;
}
