:root {
  --background-color: #ffffff;
  --line-color: #46464654;
  --ball-color: #000000c2;
  --left-ball: 2px;
  --white-black: #000;
}

* {
  font-family: Arial;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  height: 1000px;
}

body.dark {
  --background-color: #272727;
  --line-color: #68686877;
  --ball-color: #ddcc33;
  --left-ball: 37px;
  --white-black: #fff;
}
